.App {
  text-align: center;
}

.login-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.login-form {
  width: 300px;
}

.dashboard-container {
  margin: 40px;
  box-sizing: border-box;
  
}

.logout-button-container {
  display: flex;
  justify-content: flex-end;
  height: 25px
}

.logout-button {
  text-align: center;
  width: 100px;
  cursor: pointer;
  color: black;
  transition: 600ms;
 
}

.logout-button:hover {

  color: red;
  width: 100px;
  cursor: pointer;
  transition: 600ms;
  transform: scale(1.1);
  border: 1px solid red;
  border-radius: 5px;
}